@import '~scss/mixins';
@import '~scss/variable';

.container {
    @include flex(space-around, center, row);
    gap: 20px;
}

.commentContainer {
    height: 70vh;
    width: 60vw;
    overflow-y: auto;

}

.editor {
    background-color: white !important;
    ;
}

.low {
    @include flex(center, center, column);
    gap: 15px;
}

.designation {
    @include flex(center, center, row);
    gap: 20px;
}