@import '~scss/mixins';
@import '~scss/variable';

.container {
    @include flex(flex-start, center, row);
}


.tabs {
    width: 65vw;
}

.tabContent {
    position: absolute;
    top: 90px;
    left: 30%;
}