@import '~scss/mixins';
@import '~scss/variable';

.logContainer {
    @include flex (center, center, column);
    width: 90vw;
    height: 70vh;
}


label {
    font-size: 14px;
    font-weight: 600;
    color: rgb(34, 34, 34);
}